:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  min-width: 1024px;
  box-sizing: border-box;
}

header {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
  margin: 30px 30px 10px;
  border-bottom: 1px solid rgb(197, 197, 197);
}

.filter-area {
  display: flex;
  margin-left: 35px;
  margin-bottom: -25px;
  display: flex;
  align-items: center;
}

button {
  font-size: 16px;
  color: gray;
  width: 60px;
  height: 30px;
  padding: 5px 8px 4px 8px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 4px;
  z-index: 99999;
}
button:hover {
  background-color: rgb(236, 236, 236);
}

button.active {
  font-weight: 600;
  background-color: #ff6200;
  color: #fff;
}

button.reset {
  font-size: 12px;
  color: gray;
  border: none;
  margin: 0;
  background-color: none;
  width: fit-content;
  height: fit-content;
}

.filter-guide {
  margin: 0 5px;
  color: gray;
  font-size: 12px;
}

p.graph-guide {
  margin: 0 10px;
  color: gray;
  font-size: 12px;
  text-align: end;
  margin: 0 30px;
  margin-bottom: -15px;
}

.recharts-legend-item {
  cursor: pointer;
}

.tooltip {
  background-color: white;
  opacity: 0.9;
  padding: 4px 10px;
  border: 0.8px solid lightgray;
  border-radius: 5%;
}

.tooltip--region {
  margin: 4px 0;
  padding: 0;
}

.tooltip--value-wrapper {
  margin: 0;
  padding: 0 4px;
}

.tooltip--value {
  margin: 4px 0;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.error a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background-color: #ffb700;
  padding: 8px;
  border-radius: 5px;
}
